bittensor==6.9.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
datasets==2.17.1
pinecone-client==3.1.0
huggingface-hub==0.20.3
ulid-py==1.1.0
yt-dlp==2024.4.9
ffmpeg-python==0.2.0
imagebind @ git+https://github.com/omegalabsinc/ImageBind.git@e2bfdec716b1c1d511d6bea806227b2b3dfcadee#egg=imagebind
openai==1.13.3
transformers==4.38.2
accelerate==0.28.0
sentencepiece==0.2.0
protobuf==3.20.3
wandb==0.16.6
numpy==1.26.4
python-dotenv==1.0.1