absl-py==2.1.0
accelerate==0.28.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.14.0
annotated-types==0.7.0
ansible==6.7.0
ansible-core==2.13.13
ansible-vault==2.1.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
args==0.1.0
asteroid-filterbanks==0.4.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
audioread==3.0.1
av==12.3.0
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.12.3
bittensor==7.3.1
bleach==6.2.0
blobfile==3.0.0
boto3==1.35.15
botocore==1.35.15
brotli==1.1.0
cachetools==5.5.0
cartopy==0.23.0
certifi==2024.2.2
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clint==0.5.1
cmake==3.30.5
colorama==0.4.6
colorlog==6.9.0
contourpy==1.3.0
cryptography==42.0.8
cycler==0.12.1
cytoolz==0.12.3
dataproperty==1.0.1
datasets==2.17.1
ddt==1.6.0
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.27.2
dill==0.3.8
distro==1.9.0
docker-pycreds==0.4.0
docopt==0.6.2
ecdsa==0.19.0
einops==0.8.0
eth-hash==0.7.0
eth-keys==0.5.1
eth-typing==5.0.0
eth-utils==2.2.2
eva-decord==0.6.1
evaluate==0.4.2
exceptiongroup==1.2.2
executing==2.1.0
fairscale==0.4.13
fastapi==0.110.3
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
filelock==3.15.4
fire==0.6.0
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2023.10.0
ftfy==6.2.3
future==1.0.0
fuzzywuzzy==0.18.0
fvcore==0.1.5.post20221221
gitdb==4.0.11
gitpython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.151.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-speech==2.27.0
google-generativeai==0.8.3
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.67.0
grpcio-status==1.48.2
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.20.3
hyperpyyaml==1.2.2
idna==3.8
imagebind @ git+https://github.com/omegalabsinc/ImageBind.git@e2bfdec716b1c1d511d6bea806227b2b3dfcadee
importlib-metadata==8.4.0
inotify-simple==1.3.5
iopath==0.1.10
ipython==8.12.3
jedi==0.19.1
jinja2==3.1.4
jiter==0.7.0
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
julius==0.2.7
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-pygments==0.3.0
kiwisolver==1.4.5
lazy-loader==0.4
levenshtein==0.25.1
librosa==0.10.2.post1
lightning==2.4.0
lightning-utilities==0.11.8
lit==18.1.8
llama3 @ git+https://github.com/meta-llama/llama3.git@af6eedf7042fb51d00b2b26d8ef1ceaab73e1670
llvmlite==0.43.0
lm-eval==0.4.0
lxml==5.3.0
mako==1.3.6
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mbstrdecoder==1.1.3
mdurl==0.1.2
mistune==3.0.2
more-itertools==10.4.0
mpmath==1.3.0
msgpack==1.0.8
msgpack-numpy-opentensor==0.5.0
multidict==6.0.5
multiprocess==0.70.16
munch==2.5.0
mutagen==1.47.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netaddr==1.3.0
networkx==3.3
nltk==3.9.1
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.161
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
nvitop==1.3.2
omegaconf==2.3.0
openai==1.51.0
optuna==4.0.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.4
password-strength==0.0.3.post2
pathspec==0.12.1
pathvalidate==3.2.1
peft==0.11.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pinecone-client==3.1.0
pipreqs==0.5.0
platformdirs==4.2.2
pooch==1.8.2
portalocker==2.10.1
primepy==1.3
prompt-toolkit==3.0.47
proto-plus==1.24.0
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py==1.11.0
py-bip39-bindings==0.1.11
py-ed25519-zebra-bindings==1.0.1
py-sr25519-bindings==0.2.0
pyannote-audio==3.1.1
pyannote-core==5.0.0
pyannote-database==5.1.0
pyannote-metrics==3.2.1
pyannote-pipeline==3.0.1
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1-modules==0.4.0
pybind11==2.13.5
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic-core==2.20.1
pygments==2.18.0
pynacl==1.5.0
pyparsing==3.1.4
pyproj==3.6.1
pyshp==2.3.1
pytablewriter==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-levenshtein==0.25.1
python-magic==0.4.27
python-statemachine==2.1.2
pytorch-lightning==2.4.0
pytorch-metric-learning==2.7.0
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@28fe037d212663c6a24f373b94cc5d478c8c1a1d
pytz==2024.1
pyyaml==6.0.2
pyzmq==26.2.0
rapidfuzz==3.9.7
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
resolvelib==0.8.1
retry==0.9.2
rich==13.8.0
rouge-score==0.1.2
rpds-py==0.21.0
rsa==4.9
ruamel-yaml==0.18.6
ruamel-yaml-clib==0.2.12
s3transfer==0.10.2
s4==0.4.4
sacrebleu==2.4.3
safetensors==0.4.4
scalecodec==1.2.11
scikit-learn==1.5.1
scipy==1.14.1
semver==3.0.2
sentencepiece==0.2.0
sentry-sdk==2.13.0
setproctitle==1.3.3
setuptools==73.0.1
shapely==2.0.6
shellingham==1.5.4
shtab==1.6.5
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
speechbrain==1.0.2
sqlalchemy==2.0.36
sqlitedict==2.1.0
stack-data==0.6.3
starlette==0.37.2
substrate-interface==1.7.10
sympy==1.13.1
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
tensorboardx==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.4.0
timm==0.6.7
tinycss2==1.4.0
tokenizers==0.15.2
toolz==0.12.1
torch==2.1.0
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.5
torchao==0.1
torchaudio==2.1.0
torchdata @ git+https://github.com/pytorch/data.git@c78bbc7c69809172d13ce80cc8098ebc3715b96e
torchmetrics==1.5.2
torchtune @ git+https://github.com/pytorch/torchtune.git@8f59c2fecd722691271eecca630a526719a32f76
torchvision==0.16.0
tornado==6.4.1
tqdm==4.66.5
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.38.2
triton==2.1.0
typepy==1.3.2
typer==0.13.0
types-regex==2024.7.24.20240726
typing-extensions==4.12.2
tzdata==2024.1
ulid-py==1.1.0
uritemplate==4.1.1
urllib3==2.2.2
uv==0.4.3
uvicorn==0.30.0
wandb==0.16.6
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
wheel==0.44.0
xxhash==3.5.0
yacs==0.1.8
yarg==0.1.9
yarl==1.9.7
yt-dlp==2024.10.7
zipp==3.20.1
zstandard==0.23.0
